<%# main content %>
  <div id="main-categories" class="row">
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <%= image_tag('grad.jpg', alt:"sample category") %>
          <span class="card-title">ADULT</span>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <%= image_tag('grad.jpg', alt:"sample category") %>
          <span class="card-title">CHILDREN</span>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <%= image_tag('grad.jpg', alt:"sample category") %>
          <span class="card-title">HORROR</span>
        </div>
      </div>
    </div>
  </div>

  <section id="dernieres" class="row">
    <div class="section-title">
      <h4 class="center">
        <span>Our latest creations</span>
      </h4>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col s12 l4">
        <div class="card horizontal book-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample book cover") %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>
                <small>
                  <b>Romeo and Juliet</b>
                </small>
                <br> <span>William Shakespeare</span>
                <br> <span>romance</span>
                <br> 3 500 &euro;
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card horizontal book-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample book cover") %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>
                <small>
                  <b>Harry Potter</b>
                </small>
                <br> <span>J. K. Rowling</span>
                <br> <span>adventure</span>
                <br> 3 500 &euro;
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card horizontal book-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample product") %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>
                <small>
                  <b>Mind; Police of the believer</b>
                </small>
                <br> <span>Jatto Aminu</span>
                <br> <span>religious</span>
                <br> 3 500 &euro;
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>  
    <p class="center">
      <button class="btn-large brown darken-4">View More</button>
    </p>
  </section>
  <section id="inspiration" class="row">
    <div class="section-title">
      <h4 class="center">
        <span>Our Best Sellers</span>
      </h4>
    </div>
    <div class="section-content row">
      <div class="col s12 l4 best-seller-card">
        <div class="card best-seller-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample best seller products") %>
            <span class="card-title">Card Title</span>
          </div>
          <!--<div class="card-content">
                        </div>-->
          <div class="card-action">
            <a href="#" class="flow-text blue-grey-text text-darken-4">Rafraichissez votre salon avec le tapis berbere</a>
          </div>
        </div>
      </div>
      <div class="col s12 l4 best-seller-card">
        <div class="card best-seller-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample best seller products") %>
            <span class="card-title">Card Title</span>
          </div>
          <!--<div class="card-content">
                        </div>-->
          <div class="card-action">
            <a href="#" class="flow-text blue-grey-text text-darken-4">Style eclectique avec la Moroccan Touch
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 l4 best-seller-card">
        <div class="card best-seller-item">
          <div class="card-image">
            <%= image_tag('grad.jpg', alt:"sample best seller products") %>
            <span class="card-title">Card Title</span>
          </div>
          <!--<div class="card-content">
                        </div>-->
          <div class="card-action">
            <a href="#" class="flow-text blue-grey-text text-darken-4">lorem ipsum eloet dolet semp fisch
              <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="center center-align">
      <button class="btn-large brown darken-4">View More</button>
    </p>
  </section>
  <section id="media">
    <div class="container">
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>